.posts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5vh 5vw;
}

.post:hover {
  text-decoration: none;
}

.post:hover h2 {
  text-decoration: underline;
}

.post img {
  height: 35vh;
}

.post h2 {
  margin: 2vh 0;
}

@media (min-width: 576px) {
  .posts {
    grid-template-columns: 1fr 1fr;
  }
}
