.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1290px;
  padding: 5vh 3vw;
  margin: 0 auto;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 0 5vh;
  margin: 0;
}

.link {
  padding: 0 1vw;
}

.link:first-of-type {
  padding-left: 0;
}

.link a {
  font-size: 2vh;
  line-height: 1;
  font-weight: 500;
  text-transform: lowercase;
  color: black;
}

.title {
  font-size: 1.8vh;
  line-height: 1;
  font-weight: 300;
  margin: 0;
}

.title a {
  text-decoration: underline;
}

.title a:hover {
  color: #5dac46;
}

@media (min-width: 576px) {
  .header {
    flex-direction: row;
    padding: 8vh 3vw;
  }

  .menu {
    padding: 0;
  }
}
